/* Styles used on multiple pages */

body {
    max-width: 1160px;
    font-family: "DM Serif Text", serif;
    font-size: 1em;
    color: #111111;
}
/* rules for the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    padding: 8px 0;
}

.header-logo{
    width: 300px;
    height: auto; 
}

/* rules for the center header */
#searchBoxForm {
    margin-top: 30px;
    display: flex;
}
#searchBox {
    height: 20px;
}


.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 30px;
}

.dropdownSelect {
    width: 189px;
    padding: 5px;
    background-color: #ffba3a;
    color: rgb(10, 35, 134);
    text-align: center;
    display: block;
    border-radius: 5px;
}

.dropdownContent {
    display: none;
    position: absolute;
    min-width: 200px;
    padding-top: 5px;
    z-index: 1;
    border-radius: 5px;
    background-color: #70ccb7;
    text-align: center;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdownContent a {
    color: white;
    text-decoration: none;
}

.dropdownContent a:hover {
    color: #3423a3;
    text-decoration: none;
}

/* rules for the right header */

#rightHeader {
    display: flex;
    margin-top: 40px;
}

#cartCount{
    width: 150px;
    margin: 8px 0 0 10px;
}

.loginButton {
    background-color: #ffba3a;
    width: 50px;
    height: 30px;
    margin: 4px auto 0 auto;
    text-align: center;
    line-height: 30px;
    border-radius: 8px;
}

.loginButton a{
    color: white;
    text-decoration: none;
}
.loginButton a:hover {
    color: #3423a3;
    text-decoration: none;
}

/* rules for the footer */

footer {
    display: flex;
    justify-content: space-between;
    border: none;
    margin-left: none;
    padding: 15px 0;
    font-size: 0.8em;
    background-color: rgb(254, 248, 225,0.40);
}

#footerLeft {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 300px;
}

#footerLeft a{
    padding-top: 12px;
}

#footerRight {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    width: 80px;
}

#notFoundMessage {
    color: red;
}

.commandButton {
    height: 30px;
    width: 150px;
    border-radius: 8px;
    margin: 20px;
    text-align: center;
    line-height: 30px;
    background-color: #dd1d5e;
    font-size: smaller;
    color: white;
    text-decoration: none;
    display: block;
}


.submitButton {
    height: 18px;
    border-radius: 8px;
    border: none;
    margin: 6px 0 0 4px;
    text-align: center;
    background-color: #dd1d5e;
    color: white;
    font-size: 0.875em;
    text-decoration: none;
}

main {
    display: flex;
    margin: 0;       
    border: none;     
    padding: 0;
}

h1{
    font-family: "Notable", sans-serif;
    font-style: normal;
    font-size: 1.6em;
    font-weight: 700;
    color:rgb(114, 78, 31);
}

/* Styles only used on the index page */
/* Styles used on the left hand Welcome text section */
#mainLeft {
    width: 550px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


#mainLeft p{
    font-size: 120%;
    font-family: "Dancing Script", cursive;
    
}

.welcomeText {
    max-width: 400px;
}

#welcomepic{
    width: 300px;   
    height: auto;  
}

#catimg{
    width: 200px;      
    height: 200px;    
    object-fit: cover;
}

/* Styles used on the right hand Category section */
#mainRight {
    max-width: 600px;
    border-left: 1px solid black;
    padding: 20px 0;
    background-color: #fffadf;
    text-align: center;
}


#categorySelections {
    display: flex;
    flex-wrap: wrap;
}

.category {
    width: 299px;
    margin-top: 20px;
    text-align: center;
    line-height: 40px;
    color: #dd1d5e;
    font-weight: bold;
}

.category a{
    text-decoration: none;
}



/* Styles used on the category page */
/* Styles used for the left hand navigation section */

#catLeft {
    width: 500px;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notSelectedCategory {
    height: 30px;
    width: 150px;
    border-radius: 8px;
    margin: 20px;
    text-align: center;
    line-height: 30px;
    background-color: #a6691d;
}

.notSelectedCategory a{

    color: white;
    font-size: smaller;
    text-decoration: none;
}

.selectedCategory {
    height: 30px;
    width: 150px;
    border: 1px solid #a6691d;
    border-radius: 8px;
    margin: 20px;
    text-align: center;
    line-height: 30px;
    color: #a6691d;
    font-size: smaller;
}

/* styles for the righthand section that shows all the books */

#catRight {
    padding: 20px 20px 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fdf1d9;
}

.book {
    width: 350px;
    margin: 30px;
    display: flex;
}

.book img {
    width: 140px;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
}

.bookDetailBox {
    margin: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    font-size: 0.875em;
}

.bookTitle {
    font-weight: bold;
    font-size:larger;
    color: rgb(29, 84, 95);
}

.bookDetail {
    margin-top: 4px;
    font-size: 0.875em;
}

.bookPrice {
    margin-top: 4px;
    font-weight: bold;
}

.actionButton {
    height: 20px;
    width: 70px;
    border-radius: 8px;
    margin-top: 4px;
    line-height: 20px;
    text-align: center;
    background-color: #a6691d;
    color: white;
    font-size: 0.875em;
    text-decoration: none;
}
